<p>pagina de éxito</p>

<p><%= @order.token %></p>
<p><%= number_to_currency @order.amount %></p>

<p>te redireccionaremos automáticamente al comprobante de tu orden</p>

<script src="">
  window.setTimeout(function(){
        // Move to a new location or you can do something else
        window.location.href = <%= order_url(id: @order.token) %>;

      }, 5000);
</script>